DATABASE_URL=your-db-url
PAYLOAD_SECRET=payload-prod-secret

UPLOADTHING_TOKEN=your-uploadthing-token

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-password
SMTP_FROM_NAME="Track Record Admin"
SMTP_FROM_ADDRESS=admin@track-record.co.za


