DATABASE_URL=direct_connection_string
DATABASE_URL_UNPOOLED=unpooled

PAYLOAD_SECRET=YOUR_SECRET_HERE

UPLOADTHING_TOKEN=token_here

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-password
SMTP_FROM_NAME="Track Record Admin"
SMTP_FROM_ADDRESS=admin@track-record.co.za
